<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>帮助</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">帮助</a>
  </nav>

  <section class="vision">
    <section class="message left" id="help">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/circuit.jpg')}" alt="Circuit Traces" />
          <!-- Image from Flickr: http://www.flickr.com/photos/creative_stock/5227842611/ -->
      </div>
      <article>
        <h2>如果你是本校学生，而又无法选课：</h2> 
        <p><strong>如果你是本校学生，而又无法选课，请联系网络管理中心。</strong></p>

      </article>
    </section>
  </section>

</section>
