## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
  from microsite_configuration import microsite
%>

<%! from django.utils.translation import ugettext as _ %> 

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">服务条款</a></li>
          <li><a href="${reverse('tos')}#privacy">隐私政策</a></li>
          <li><a href="${reverse('tos')}#honor">荣誉准则</a></li>
          <li><a href="${reverse('tos')}#copyright">版权</a></li>
          <li><a href="${reverse('about_edx')}#careers">招聘</a></li>
          <li><a href="${reverse('about_edx')}#contact">联系方式</a></li>
          <li><a href="${marketing_link('FAQ')}">帮助</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>based on<a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="${'http://www.qzygz.com/'}">
          <img src="/static/themes/stanford/images/seal.png" alt="Stanford University" height="49"/>
        </a>
      </div>
      <div id="su-footer-text" class="span10">
        <div class="clear">
	<p style="color:white;">泉州医学高等专科学校 地址：泉州市洛江区安吉路2号 闽ICP备05015571号</p>

        </div>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
